<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.semina">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Setting_accountActivity" />
        <activity
            android:name=".LoginUsersActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".Post_reviewActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Detail_eventActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Detail_placeActivity"
            android:parentActivityName=".ListhotelActivity" />
        <activity
            android:name=".Detail_foodActivity"
            android:parentActivityName=".ListFoodActivity" />
        <activity
            android:name=".Detail_hotelActivity"
            android:parentActivityName=".ListhotelActivity" />
        <activity
            android:name=".ListEventActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListplaceActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListFoodActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListhotelActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SearchActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>